div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="preview")
    .mb-2.w-100(ld-each="video"): video.rounded(controls)
      source(ld="source",type="video/mp4")
